[user]
	email = peterbgoedeke@gmail.com
	name = Peter Goedeke
[credential]
	helper = cache
[core]
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[interactive]
	diffFilter = delta --color-only
[diff]
  colorMoved = default
[github]
	user = peterbgoedeke@gmail.com
