//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
configuration {
    modes: [window,drun,combi,ssh,filebrowser];
    combi-modes: [window,drun];
    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
    kb-remove-to-eol: "";
    kb-accept-entry: "Control+m,Return,KP_Enter";
}
